@media (max-width:1420px) {
    .shop {
        &__inner {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
        }

        &__kits {
            min-width: 100%;
        }
    }
}


@media (max-width:1300px) {
    .top-slider {
        &__content {
            width: 30%;
        }

        &__img {
            width: 70%;
        }

        &__title {
            font-size: 48px;
            line-height: 60px;
        }

        &__link {
            padding: 12px 10px;
        }
    }

    .details {
        padding: 50px 0;

        &__title {
            margin-bottom: 40px;
        }
    }

    .baked {
        padding: 50px 0;
    }
}


@media (max-width:1100px) {
    .header {
        &__top-index {
            display: block;
        }

        &__top-text {
            text-align: center;
            margin-bottom: 10px;
        }

        &__form {
            text-align: center;
        }
    }

    .top-slider {

        &__item {
            justify-content: center;
        }

        &__content {
            display: none;
        }

        &__img {
            width: 100%;
        }

        .slick-slider .slick-prev {
            right: 160px;
        }

        .slick-slider .slick-next {
            right: 100px;
        }
    }

    .details {
        &__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
            margin-bottom: 30px;
        }

        &__item {
            width: 100%;
            max-width: 100%;
        }
    }

    .baked {
        padding: 40px 0;

        &__info {
            flex-direction: column;
        }

        &__info-img {
            width: 100%;
        }

        &__info-text {
            width: 100%;
            text-align: center;
            padding-top: 30px;
        }
    }

    .shop {
        padding: 50px 0;
        border-bottom: 10px solid #fff;

        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .tarla {
        .tarla__item+.tarla__item {
            margin-left: 0;
        }

        &__items {
            flex-direction: column;
        }

        &__item {
            width: 100%;
            margin-bottom: 20px;
        }

        &__img {
            width: 100%;
            height: 80%;
            background-size: cover;

        }

        &__title {
            font-size: 48px;
            line-height: 58px;
        }

        &__ingredients {
            flex-direction: column;
        }

        &__ingredients-img,
        &__ingredients-item {
            width: 100%;
        }

        &__ingredients-images {
            width: 100%;
        }

        &__legend {
            .tarla__ingredients {
                flex-direction: column-reverse;
            }
        }
    }
}

@media (max-width:800px) {
    .header {
        &__menu-btn {
            width: 30px;
            height: 22px;
            border: none;
            padding: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;
            margin-right: 20px;

            span {
                width: 100%;
                height: 4px;
                background-color: #436372;
            }

            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 4px;
                background-color: #436372;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }

        .menu {
            &__list {
                background-color: #f5ede7;
                transform: translateY(-200%);
                position: absolute;
                top: 70px;
                left: 0;
                width: 100%;
                flex-direction: column;
                align-items: center;
                z-index: 5;
                transition: all .6s;
                opacity: 0.8;


                &.menu__list--active {
                    transform: translateY(0);
                    transition: all .6s;
                    margin-top: 16px;
                }
            }
        }
    }

    .top-slider {
        .slick-slider {

            .slick-prev,
            .slick-next {
                display: none !important;
            }
        }
    }

    .details {
        padding: 40px 0;

        &__item-title {
            font-size: 24px;
            line-height: 30px;
        }
    }

    .tarla {
        &__top {
            display: none;
        }

        &__bekes {
            &::after {
                display: none;
            }
        }

        &__legend {
            &::before {
                display: none;
            }
        }
    }
}

@media (max-width:680px) {
    .details {
        &__items {
            grid-template-columns: repeat(1, 1fr);
        }

        &__link {
            padding: 10px 40px;
        }
    }

    .baked {
        &__info-text {
            font-size: 28px;
            line-height: 44px;
        }
    }

    .shop {
        padding: 40px 0;

        &__inner {
            grid-template-columns: repeat(1, 1fr);
        }

        &__link {

            img {
                width: 100%;
            }
        }

        &__box {
            width: 100%;
        }

        &__box-title {
            font-size: 26px;
            line-height: 30px;
        }
    }
}

@media (max-width:450px) {
    .header {
        .menu {}

        &__menu {
            justify-content: space-between;
        }

        &__menu-btn {
            margin-right: 0;
            order: 1;
        }

        &__inner {
            display: block;
        }

        .logo {
            margin-bottom: 20px;
        }

        .user-nav {
            justify-content: flex-end;
        }
    }

    .details__link {
        padding: 8px 24px;
    }

    .shop {
        &__title {
            font-size: 32px;
            line-height: 34px;
        }

        &__box-link {
            padding: 8px 50px;
        }

        &__box-title {
            font-size: 24px;
        }
    }

    .tarla {
        &__title {
            font-size: 30px;
            line-height: 38px;
        }
    }
}